<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<main class="container-fluid">
    <h1>Impressum</h1><br>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Vorname</th>
            </tr>
            <tr>
                <td>Grote</td>
                <td>Phillip</td>
            </tr>
            <tr>
                <td>Wegmeier</td>
                <td>Ryan-Marc</td>
            </tr>
        </table>
    </div>


</main>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}