<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <a class="navbar-brand" href="index.html">TODO-Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{.navitem1}}">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item {{.navitem2}}">
                    <a class="nav-link" href="createTODO.html">Hinzufügen</a>
                </li>
                <li class="nav-item {{.navitem3}}">
                    <a class="nav-link" href="howTo.html">How To</a>
                </li>
                <li class="nav-item {{.navitem4}}">
                    <a class="nav-link" href="impressum.html">Impressum</a>
                </li>
            </ul>
        </div>
    </nav>
</header>